body {
  font-family: cursive;
  text-align: center;
  background-color: #DDDDDD;
}

li {
  background: url('../images/Heart.png') bottom left no-repeat;
  background-size: contain;
  height: 50px;
  width: 30px;
}

.scoreboard {
  background-color: #9E9E9E;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  font-variant: small-caps;
  font-size: 2em;
  font-weight: bold;
  margin-top: 50px;
  padding: 15px 10px;
  margin-bottom: -10px;
  border: 2px solid #DDDDDD;
  border-radius: 15px;
}

#level {
  width: 168px;
  color: #111111;
  text-align: left;
}

#score {
  width: 168px;
  color: #111111;
  text-align: center;
}

#lives {
  width: 168px;
  color: #111111;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.hide{
  display:none;
}

#start-menu {
  width: 520px;
  height: 520px;
  background: #822807;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: block;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  align-items: center;
}

#start-menu__title {
  width: 90%;
  padding: 10px 10px 30px 10px;
  margin: 10px auto;
  text-align: center;
  color: white;
  font-size: 3.5em;
}

#start-menu__start {
  width: 30%;
  background: #B6390A;
  padding: 20px 20px;
  margin: 20px auto;
  text-align: center;
  color: white;
  border: 2px solid #CB4311;
  border-radius: 15px;
}

#start-menu__start:hover {
  background: #CB4311;
  cursor: pointer;
}

#end-menu__title {
  width: 90%;
  padding: 10px 10px 30px 10px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 3em;
}

#end-menu {
  width: 520px;
  height: 520px;
  background: #4149A0;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: none;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  align-items: center;
}

#end-menu__restart {
  width: 40%;
  background: #526AD5;
  padding: 20px 20px;
  margin: 20px auto;
  text-align: center;
  color: white;
  border: 2px solid #7688E2;
  border-radius: 15px;
}

#end-menu__restart:hover {
  background: #7688E2;
  cursor: pointer;
}

#end-menu__score {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 45%;
  height: 3em;
  margin: 10px auto;
  color: white;
  padding-bottom: 140px;
}

#score__title {
  font-size: 1em;
}

#score__score {
  font-size: 3em;
  padding-left: 20px;
}

#disable-game {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #DDDDDD;
  opacity: 1;
  z-index: 1;
}

.select-avatar {
  padding-bottom: 50px;
  width: 40%;
}
.select-avatar__img {
  margin-left: 40px;
}

@media screen and (min-width: 800px) {
  body {
    max-width: 800px;
    margin: 0px auto;
  }
}
